@{
    ViewData["Title"] = "Hyper Dev";
}

<div class="text-center">
    <h1 class="display-4">HOŞGELDİNİZ</h1>
    <br />
    <br />
    <br />

    
<p><a href="Company/Add" >ŞİRKET EKLEMEK İÇİN TIKLAYINIZ</a></p>
<br />
<p><a href="Department/Add" >DEPARTMAN EKLEMEK İÇİN TIKLAYINIZ</a></p>
<br />
<p><a href="Company/Index" >ŞİRKET BİLGİLERİNİ LİSTELEMEK İÇİN TIKLAYINIZ</a> </p>
<br />
<p><a href="Department/Index">DEPARTMAN BİLGİLERİNİ LİSTELEMEK İÇİN TIKLAYINIZ</a> </p>
<br />

</div>


